<div class="container text-light my-4">
  <div class="jumbotron bg-dark">
    <h1>Cinco níveis de automação</h1>
    <p class="lead">
        Desde assistência ao motorista até carros totalmente autônomos, existem cinco níveis geralmente aceitos de veículos autônomos. Eles foram desenvolvidos pela Society of Automotive Engineers (SAE) e variam de acordo com o grau de envolvimento humano na direção. Na verdade, existem seis níveis em sua classificação, porém o nível zero não implica automação, mas um controle humano completo dos veículos.
    </p>

    <table class="table table-dark table-hover mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nível</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>L1</td>
            <td>Assistência ao motorista</td>
            <td>Um motorista humano é responsável por todas as tarefas de operação do carro, incluindo aceleração, direção, frenagem e monitoramento do ambiente circundante. Existe um sistema de automação de direção em um carro que ajuda na direção ou na aceleração, não em ambas.</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>L2</td>
            <td>Automação Parcial</td>
            <td>Nesse nível, um carro pode ajudar tanto na direção quanto na aceleração, enquanto o motorista ainda é responsável pela maioria das funções críticas à segurança e pelo monitoramento do ambiente. Atualmente, os veículos autônomos do nível L2 são mais comuns nas estradas.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>L3</td>
            <td>Automação condicional</td>
            <td>A partir do nível L3, o próprio carro monitora o ambiente usando sensores autônomos do veículo e executa outras tarefas dinâmicas de direção, como a frenagem. Um motorista humano deve estar preparado para intervir se ocorrer uma falha do sistema ou outras condições inesperadas.</td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td>L4</td>
              <td>Alta automação</td>
              <td>O nível L4 implica um alto nível de automação, onde um carro é capaz de completar uma jornada inteira sem a intervenção do motorista, mesmo em casos extremos. No entanto, existem algumas restrições: um motorista pode mudar o veículo para este modo somente quando o sistema detectar que as condições de tráfego são seguras e não há engarrafamento.</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>L5</td>
                <td>Automação completa</td>
                <td>Carros totalmente automatizados ainda não existem, mas as montadoras se esforçam para alcançar o nível L5 de direção autônoma, onde os motoristas simplesmente especificam seu destino e um veículo assume total responsabilidade por todos os modos de direção. Portanto, carros de nível L5 não têm provisões para controle humano, como volantes ou pedais.
                  <br>
                    Embora pareça fantástico, espera-se que veículos totalmente automatizados entrem no mundo em 2020-2021. Atualmente, os sistemas parcialmente autônomos de nível L2 estão dominando o mercado.</td>
              </tr>
        </tbody>
      </table>
  </div>


</div>
