<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4 text-white">Autonomous</h1>
    <p class="lead text-white">
      Site desenvolvido como parte do projeto final da disciplina de programação web do curso Técnico em Informática para Internet no Colégio Estadual Protásio Alves.

    </p>
    <ul class="list-group ">
        <li class="list-group-item list-group-item-dark">Aluno: Edson Luiz Ribeiro Rodrigues</li>
        <li class="list-group-item list-group-item-dark">Professor: Renan Menna Barreto</li>
        <li class="list-group-item list-group-item-dark">Ano/Semestre: 2019/ 2</li>
      </ul>
  </div>
</div>
