<video id="videoBG" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
  <source src="assets/videos/video.mp4" type="video/mp4">
</video>




<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4 text-white">Veículos autônomos</h1>
    <p class="lead text-white">O carro autônomo é o sonho de consumo de muitos motoristas.
      Nele, é possível contar com um piloto automático de qualidade, sem precisar de nenhum esforço.
      Surgiram como uma promessa para resolver de vez o problema da mobilidade nas grandes cidades.
    </p>
    <hr class="my-4">
    <p class="text-white">Saiba mais sobre a história e as tecnologias envolvidas.</p>
    <a class="btn btn-primary btn-lg text-uppercase" href="#" role="button">Saiba mais</a>
  </div>
</div>
