@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

:root {
  --white-color: rgba(255, 255, 255, 0.8);
  --white-color-muted: rgba(255, 255, 255, 0.507);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body,
input,
button {
  -webkit-font-smoothing: antialiased !important;
  font-family: "Montserrat", sans-serif;
}

.video-bg {
  position: fixed;
  z-index: -1;
  object-fit: cover;
  object-position: center;
  min-width: 100%;
}

.filter-container {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  padding: 2rem 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5rem;
  color: var(--white-color);
}

.nav-item {
  display: inline;
  text-transform: uppercase;
  color: var(--white-color);
}

.nav-item a {
  color: var(--white-color);
  margin-left: 6rem;
  text-decoration: none;
  letter-spacing: 0.4rem;
}

.nav-item a:hover {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
}

.hero {
  width: 40%;
  margin-top: 4rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.text-normal {
  font-weight: normal;
}

.display1 {
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
}

.display2 {
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  color: var(--white-color-muted);
}

.content {
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
}

.link:hover {
  color: rgba(212, 94, 135, 0.76);
}
